@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply break-keep;
  }
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background: oklch(var(--p));
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: oklch(var(--b1));
}
